{
  "swagger": "2.0",
  "info": {
    "description": "This is swagger documentation for store store",
    "version": "0.0.1",
    "title": "Store Backend",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "miqdad.farcha@store.backend.fdc"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "securityDefinitions": {
    "bearerAuth": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "host": "store.backend.fdc",
  "basePath": "/",
  "tags": [
    {
      "name": "store",
      "description": "Access to Store Backend"
    },
    {
      "name": "user",
      "description": "Operations about user",
      "externalDocs": {
        "description": "Find out more about our store",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "role",
      "description": "Operations about role",
      "externalDocs": {
        "description": "Find out more about our store",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "merchant",
      "description": "Operations about merchant",
      "externalDocs": {
        "description": "Find out more about our store",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "product",
      "description": "Operations about products",
      "externalDocs": {
        "description": "Find out more about our store",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "product-category",
      "description": "Operations about products category",
      "externalDocs": {
        "description": "Find out more about our store",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "product-brand",
      "description": "Operations about products brands",
      "externalDocs": {
        "description": "Find out more about our store",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "product-delivery",
      "description": "Operations about products delivery",
      "externalDocs": {
        "description": "Find out more about our store",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "product-assets",
      "description": "Operations about products assets",
      "externalDocs": {
        "description": "Find out more about our store",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "cart",
      "description": "Operations about cart",
      "externalDocs": {
        "description": "Find out more about our store",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "voucher",
      "description": "Operations about voucher",
      "externalDocs": {
        "description": "Find out more about our store",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "order",
      "description": "Operations about transactions",
      "externalDocs": {
        "description": "Find out more about our store",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "reviews",
      "description": "Operations about reviews",
      "externalDocs": {
        "description": "Find out more about our store",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "user-address",
      "description": "Operations about users address",
      "externalDocs": {
        "description": "Find out more about our store",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "push-notifications",
      "description": "Operations about push-notifications",
      "externalDocs": {
        "description": "Find out more about our store",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "email-notifications",
      "description": "Operations about email-notifications",
      "externalDocs": {
        "description": "Find out more about our store",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "notification",
      "description": "Operations about notifications",
      "externalDocs": {
        "description": "Find out more about our store",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "banner",
      "description": "Operations about banner",
      "externalDocs": {
        "description": "Find out more about our store",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "prize-setting",
      "description": "Operations about Prizing Setting",
      "externalDocs": {
        "description": "Find out more about our store",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "spinwheel-setting",
      "description": "Operations about Spinwheel Setting",
      "externalDocs": {
        "description": "Find out more about our store",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "manufacturer",
      "description": "Operations about Manufacturer",
      "externalDocs": {
        "description": "Find out more about our store",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "point-setting",
      "description": "Operations about Point Setting",
      "externalDocs": {
        "description": "Find out more about our store",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "user-prize",
      "description": "Operations about User Prize",
      "externalDocs": {
        "description": "Find out more about our store",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "daily-spin-control",
      "description": "Operations about Daily Spin Control",
      "externalDocs": {
        "description": "Find out more about our store",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "user-spinwheel",
      "description": "Operations about User Spinwheel",
      "externalDocs": {
        "description": "Find out more about our store",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "stats",
      "description": "Operations about Stats",
      "externalDocs": {
        "description": "Find out more about our store",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "faq",
      "description": "Operations about FAQ",
      "externalDocs": {
        "description": "Find out more about our store",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "user-point",
      "description": "Operations about User Point",
      "externalDocs": {
        "description": "Find out more about our store",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "shipping-details",
      "description": "Operations about Shipping Details",
      "externalDocs": {
        "description": "Find out more about our store",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "billing-details",
      "description": "Operations about Billing Details",
      "externalDocs": {
        "description": "Find out more about our store",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "STORE-User",
      "description": "Operations about Bridge User",
      "externalDocs": {
        "description": "Find out more about our store",
        "url": "http://swagger.io"
      }
    }
  ],
  "schemes": [
    "http",
    "https"
  ],
  "paths": {
    "/user/register": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Register user to system",
        "description": "",
        "operationId": "registerUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "formData",
            "description": "The user name for register to system",
            "required": true,
            "type": "string"
          },
          {
            "name": "email",
            "in": "formData",
            "description": "The email for register to system",
            "required": true,
            "type": "string"
          },
          {
            "name": "password",
            "in": "formData",
            "description": "The password for register to system",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "X-Expires-After": {
                "type": "string",
                "format": "date-time",
                "description": "date in UTC when token expires"
              },
              "X-Rate-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "calls per hour allowed by the user"
              }
            },
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/user/login": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Logs user into the system",
        "description": "",
        "operationId": "loginUser",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "formData",
            "description": "The user email for login",
            "required": true,
            "type": "string"
          },
          {
            "name": "password",
            "in": "formData",
            "description": "The password for login in clear text",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "X-Expires-After": {
                "type": "string",
                "format": "date-time",
                "description": "date in UTC when token expires"
              },
              "X-Rate-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "calls per hour allowed by the user"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Invalid username/password supplied"
          }
        }
      }
    },
    "/user/login/superadmin": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Logs super admin user into the system",
        "description": "",
        "operationId": "loginSuperAdmin",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "formData",
            "description": "The user email for login",
            "required": true,
            "type": "string"
          },
          {
            "name": "password",
            "in": "formData",
            "description": "The password for login in clear text",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "X-Expires-After": {
                "type": "string",
                "format": "date-time",
                "description": "date in UTC when token expires"
              },
              "X-Rate-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "calls per hour allowed by the user"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Invalid username/password supplied"
          }
        }
      }
    },
    "/user/forgot-password": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "send verification code to user email",
        "description": "",
        "operationId": "forgotPassword",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "formData",
            "description": "The user email for password verification code",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "X-Expires-After": {
                "type": "string",
                "format": "date-time",
                "description": "date in UTC when token expires"
              },
              "X-Rate-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "calls per hour allowed by the user"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Invalid email address supplied"
          }
        }
      }
    },
    "/user/profile": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Function to get user profile",
        "description": "",
        "operationId": "getUserProfile",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/user/profile/name": {
      "patch": {
        "tags": [
          "user"
        ],
        "summary": "Function to update user name",
        "description": "",
        "operationId": "updateUserName",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "formData",
            "description": "New name of user",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/user/profile/gender": {
      "patch": {
        "tags": [
          "user"
        ],
        "summary": "Function to update user gender",
        "description": "",
        "operationId": "updateUserGender",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "gender",
            "in": "formData",
            "description": "New gender of user",
            "required": true,
            "type": "string",
            "enum": ["male", "female"]
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/user/profile/phone": {
      "patch": {
        "tags": [
          "user"
        ],
        "summary": "Function to update user phone number",
        "description": "",
        "operationId": "updateUserPhone",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "phone",
            "in": "formData",
            "description": "New phone of user",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/user/profile/password": {
      "patch": {
        "tags": [
          "user"
        ],
        "summary": "Function to update user password",
        "description": "",
        "operationId": "updateUserPassword",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "old_password",
            "in": "formData",
            "description": "User old password",
            "required": true,
            "type": "string"
          },
          {
            "name": "new_password",
            "in": "formData",
            "description": "User new password",
            "required": true,
            "type": "string"
          },
          {
            "name": "new_password_confirmation",
            "in": "formData",
            "description": "User new password confirmation",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/user/profile/avatar": {
      "patch": {
        "tags": [
          "user"
        ],
        "summary": "Function to update user avatar",
        "description": "",
        "operationId": "updateUserAvatar",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "avatar",
            "in": "formData",
            "description": "New avatar of user",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/user/profile/birth-date": {
      "patch": {
        "tags": [
          "user"
        ],
        "summary": "Function to update user birth date",
        "description": "",
        "operationId": "updateUserBirthdate",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "birth_date",
            "in": "formData",
            "description": "New birth date of user",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },

    "/role/add": {
      "post": {
        "tags": [
          "role"
        ],
        "summary": "Add new row to system",
        "description": "",
        "operationId": "addRole",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "formData",
            "description": "The role name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "X-Expires-After": {
                "type": "string",
                "format": "date-time",
                "description": "date in UTC when token expires"
              },
              "X-Rate-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "calls per hour allowed by the user"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      }
    },
    "/role/:roleId/update": {
      "patch": {
        "tags": [
          "role"
        ],
        "summary": "Edit role in the system",
        "description": "",
        "operationId": "editRole",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [

          {
            "name": "roleId",
            "in": "params",
            "description": "The role ID.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "name",
            "in": "formData",
            "description": "The role name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "X-Expires-After": {
                "type": "string",
                "format": "date-time",
                "description": "date in UTC when token expires"
              },
              "X-Rate-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "calls per hour allowed by the user"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      }
    },
    "/role/list": {
      "get": {
        "tags": [
          "role"
        ],
        "summary": "Function to get role list",
        "description": "",
        "operationId": "getRoles",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },


    "/merchant/register": {
      "post": {
        "tags": [
          "merchant"
        ],
        "summary": "Register merchant to system",
        "description": "",
        "operationId": "registerMerchant",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "formData",
            "description": "The Merchant name for register to system",
            "required": true,
            "type": "string"
          },
          {
            "name": "contact_name",
            "in": "formData",
            "description": "The company contact person for register to system",
            "required": true,
            "type": "string"
          },
          {
            "name": "email",
            "in": "formData",
            "description": "The merchant email for register to system",
            "required": true,
            "type": "string"
          },
          {
            "name": "password",
            "in": "formData",
            "description": "The merchant password for register to system",
            "required": true,
            "type": "string"
          },
          {
            "name": "office_phone_number",
            "in": "formData",
            "description": "The company office number for register to system",
            "required": true,
            "type": "string"
          },
          {
            "name": "office_address",
            "in": "formData",
            "description": "The Merchant address for register to system",
            "required": true,
            "type": "string"
          },
          {
            "name": "acra_number",
            "in": "formData",
            "description": "The Merchant ACRA Number for register to system",
            "required": true,
            "type": "string"
          },
          {
            "name": "business_profile",
            "in": "formData",
            "description": "The company ACRA Business Profile for register to system",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "X-Expires-After": {
                "type": "string",
                "format": "date-time",
                "description": "date in UTC when token expires"
              },
              "X-Rate-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "calls per hour allowed by the user"
              }
            },
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/merchant/list": {
      "get": {
        "tags": [
          "merchant"
        ],
        "summary": "Function to get Merchant list",
        "description": "",
        "operationId": "getAllMerchants",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/merchant/view": {
      "get": {
        "tags": [
          "merchant"
        ],
        "summary": "Function to view Merchant details",
        "description": "",
        "operationId": "getMerchantView",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/merchant/verify/:merchant_id": {
      "patch": {
        "tags": [
          "merchant"
        ],
        "summary": "Verify merchant",
        "description": "",
        "operationId": "verifyMerchant",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "merchant_id",
            "in": "path",
            "description": "The merchant ID",
            "required": true,
            "type": "integer"
          },
          {
            "name": "status",
            "in": "formData",
            "description": "The merchant status set to approve",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "X-Expires-After": {
                "type": "string",
                "format": "date-time",
                "description": "date in UTC when token expires"
              },
              "X-Rate-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "calls per hour allowed by the user"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      }
    },    
    "/merchant/search": {
      "patch": {
        "tags": [
          "merchant"
        ],
        "summary": "Search merchant",
        "description": "",
        "operationId": "searchMerchant",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "description": "The merchant keyword",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "X-Expires-After": {
                "type": "string",
                "format": "date-time",
                "description": "date in UTC when token expires"
              },
              "X-Rate-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "calls per hour allowed by the user"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      }
    },
    "/merchant/edit": {
      "patch": {
        "tags": [
          "merchant"
        ],
        "summary": "Update merchant",
        "description": "",
        "operationId": "editMerchant",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "merchant_id",
            "in": "query",
            "description": "The merchant ID",
            "required": true,
            "type": "integer"
          },
          {
            "name": "name",
            "in": "formData",
            "description": "The Merchant name for register to system",
            "required": true,
            "type": "string"
          },
          {
            "name": "contact_name",
            "in": "formData",
            "description": "The company contact person for register to system",
            "required": true,
            "type": "string"
          },
          {
            "name": "email",
            "in": "formData",
            "description": "The merchant email for register to system",
            "required": true,
            "type": "string"
          },
          {
            "name": "password",
            "in": "formData",
            "description": "The merchant password for register to system",
            "required": true,
            "type": "string"
          },
          {
            "name": "office_phone_number",
            "in": "formData",
            "description": "The company office number for register to system",
            "required": true,
            "type": "string"
          },
          {
            "name": "office_address",
            "in": "formData",
            "description": "The Merchant address for register to system",
            "required": true,
            "type": "string"
          },
          {
            "name": "acra_number",
            "in": "formData",
            "description": "The Merchant ACRA Number for register to system",
            "required": true,
            "type": "string"
          },
          {
            "name": "business_profile",
            "in": "formData",
            "description": "The company ACRA Business Profile for register to system",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "X-Expires-After": {
                "type": "string",
                "format": "date-time",
                "description": "date in UTC when token expires"
              },
              "X-Rate-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "calls per hour allowed by the user"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      }
    },


    "/product/add": {
      "post": {
        "tags": [
          "product"
        ],
        "summary": "Add new product to system",
        "description": "",
        "operationId": "addProduct",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "formData",
            "description": "The product name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "email",
            "in": "formData",
            "description": "The Merchant Email address.",
            "required": true,
            "type": "string"
          },
          {
            "name": "variant",
            "in": "formData",
            "description": "The Product Variant",
            "required": false,
            "type": "string"
          },
          {
            "name": "description",
            "in": "formData",
            "description": "The Product Description",
            "required": false,
            "type": "string"
          },

          {
            "name": "phone_number",
            "in": "formData",
            "description": "The Merchant Phone Number.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "retail_price",
            "in": "formData",
            "description": "The Product Retail Price.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "sell_price",
            "in": "formData",
            "description": "The Product Sell Price .",
            "required": true,
            "type": "string"
          },
          {
            "name": "available_qty",
            "in": "formData",
            "description": "The Product Available Quantity.",
            "required": true,
            "type": "string"
          },
          {
            "name": "deliver_id",
            "in": "formData",
            "description": "The Product Delivery ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "category_id",
            "in": "formData",
            "description": "The Product Category ID",
            "required": true,
            "type": "integer"
          },
          {
            "name": "brand_id",
            "in": "formData",
            "description": "The Product Brand ID",
            "required": true,
            "type": "integer"
          },
          {
            "name": "product_assets",
            "in": "formData",
            "description": "The product photo(s) \n Upload at least 2 images",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "X-Expires-After": {
                "type": "string",
                "format": "date-time",
                "description": "date in UTC when token expires"
              },
              "X-Rate-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "calls per hour allowed by the user"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      }
    },
    "/product/edit": {
      "patch": {
        "tags": [
          "product"
        ],
        "summary": "Edit product in system",
        "description": "",
        "operationId": "updateProduct",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "query",
            "description": "The product ID.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "name",
            "in": "formData",
            "description": "The product name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "email",
            "in": "formData",
            "description": "The Merchant Email address.",
            "required": true,
            "type": "string"
          },
          {
            "name": "variant",
            "in": "formData",
            "description": "The Product Variant",
            "required": false,
            "type": "string"
          },
          {
            "name": "description",
            "in": "formData",
            "description": "The Product Description",
            "required": false,
            "type": "string"
          },

          {
            "name": "phone_number",
            "in": "formData",
            "description": "The Merchant Phone Number.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "retail_price",
            "in": "formData",
            "description": "The Product Retail Price.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "sell_price",
            "in": "formData",
            "description": "The Product Sell Price .",
            "required": true,
            "type": "string"
          },
          {
            "name": "available_qty",
            "in": "formData",
            "description": "The Product Available Quantity.",
            "required": true,
            "type": "string"
          },
          {
            "name": "deliver_id",
            "in": "formData",
            "description": "The Product Delivery ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "category_id",
            "in": "formData",
            "description": "The Product Category ID",
            "required": true,
            "type": "integer"
          },
          {
            "name": "brand_id",
            "in": "formData",
            "description": "The Product Brand ID",
            "required": true,
            "type": "integer"
          },
          {
            "name": "product_assets",
            "in": "formData",
            "description": "The product photo(s)",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "X-Expires-After": {
                "type": "string",
                "format": "date-time",
                "description": "date in UTC when token expires"
              },
              "X-Rate-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "calls per hour allowed by the user"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      }
    },
    "/product/view": {
      "get": {
        "tags": [
          "product"
        ],
        "summary": "view product details",
        "description": "",
        "operationId": "getProductView",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "query",
            "description": "The Product ID",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/product/list": {
      "post": {
        "tags": [
          "product"
        ],
        "summary": "Function to get product list",
        "description": "",
        "operationId": "getFilterProductList",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The Product List",
            "required": true,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The Product Page Size",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/product/delete": {
      "delete": {
        "tags": [
          "product"
        ],
        "summary": "Delete Product ",
        "description": "",
        "operationId": "deleteProduct",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "formData",
            "description": "The Product ID",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/product/soft-delete": {
      "delete": {
        "tags": [
          "product"
        ],
        "summary": "Delete Product ",
        "description": "",
        "operationId": "softDeleteProduct",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "formData",
            "description": "The Product ID",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/product/approve": {
      "post": {
        "tags": [
          "product"
        ],
        "summary": "Update product status to approve",
        "description": "",
        "operationId": "approveProduct",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "formData",
            "description": "The product status set to approve",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/product/reject": {
      "post": {
        "tags": [
          "product"
        ],
        "summary": "update product status to rejected.",
        "description": "",
        "operationId": "rejectProduct",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "formData",
            "description": "The product status set to rejected",
            "required": true,
            "type": "integer"
          }

        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "X-Expires-After": {
                "type": "string",
                "format": "date-time",
                "description": "date in UTC when token expires"
              },
              "X-Rate-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "calls per hour allowed by the user"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      }
    },
    "/product/set-status": {
      "post": {
        "tags": [
          "product"
        ],
        "summary": "Function to set product status",
        "description": "",
        "operationId": "setProductStatus",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "formData",
            "description": "Update the product status",
            "required": true,
            "type": "integer"
          },
          {
            "name": "product_id",
            "in": "path",
            "description": "The Product ID",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "X-Expires-After": {
                "type": "string",
                "format": "date-time",
                "description": "date in UTC when token expires"
              },
              "X-Rate-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "calls per hour allowed by the user"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      }
    },
    "/product/list-admin": {
      "get": {
        "tags": [
          "product"
        ],
        "summary": "Function to get all product admin list",
        "description": "",
        "operationId": "getFilterProductListAdmin",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The Admin Filter",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/product/list-admin-by-status": {
      "get": {
        "tags": [
          "product"
        ],
        "summary": "Function to get products Admin List by status",
        "description": "",
        "operationId": "getFilterProductListAdmin",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "The Product Status",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/product/merchant/list": {
      "get": {
        "tags": [
          "product"
        ],
        "summary": "Function to get list of product Merchant.",
        "description": "",
        "operationId": "getAllMerchantProducts",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "merchant_id",
            "in": "query",
            "description": "The product's merchant ID",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/product/merchant/list-by-category": {
      "get": {
        "tags": [
          "product"
        ],
        "summary": "Function to get list of Product Merchant by Category",
        "description": "",
        "operationId": "getAllMerchantProductsByCategory",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "category_id",
            "in": "query",
            "description": "The Product Category ID",
            "required": true,
            "type": "integer"
          },
          {
            "name": "merchant_id",
            "in": "query",
            "description": "The Product Merchant ID",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/product/recommended/list": {
      "get": {
        "tags": [
          "product"
        ],
        "summary": "Get all recommended product list by category.",
        "description": "",
        "operationId": "getProductRecommendedList",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "category_id",
            "in": "query",
            "description": "The Product Category ID",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "X-Expires-After": {
                "type": "string",
                "format": "date-time",
                "description": "date in UTC when token expires"
              },
              "X-Rate-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "calls per hour allowed by the user"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      }
    },
    "/product/hot/list": {
      "get": {
        "tags": [
          "product"
        ],
        "summary": "Get all product list by category",
        "description": "",
        "operationId": "getProductHotList",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "category_id",
            "in": "query",
            "description": "The Product Category ID",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/product/top/list": {
      "get": {
        "tags": [
          "product"
        ],
        "summary": "Get all top products list by category ",
        "description": "",
        "operationId": "getProductTopList",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "category_id",
            "in": "query",
            "description": "The Product Category ID",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/product/new/list": {
      "get": {
        "tags": [
          "product"
        ],
        "summary": "Get new products list by category ",
        "description": "",
        "operationId": "getProductNewList",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "category_id",
            "in": "query",
            "description": "The Product Category ID",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/product/popular/list": {
      "get": {
        "tags": [
          "product"
        ],
        "summary": "Get popular products list by category ",
        "description": "",
        "operationId": "getProductPopularList",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "category_id",
            "in": "query",
            "description": "The Product Category ID",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/product/like/list": {
      "get": {
        "tags": [
          "product"
        ],
        "summary": "Get all product likes list by product id ",
        "description": "",
        "operationId": "getProductLikesList",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "query",
            "description": "The Product ID that is being liked",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/product/like": {
      "post": {
        "tags": [
          "product"
        ],
        "summary": "User like Product ",
        "description": "",
        "operationId": "likeProduct",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "formData",
            "description": "Allow user to like a product.",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/product/recommend": {
      "post": {
        "tags": [
          "product"
        ],
        "summary": "Function to recommend a product",
        "description": "",
        "operationId": "recommendProduct",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "formData",
            "description": "Allow user to recommend a product.",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },


    "/product-brand/add": {
      "post": {
        "tags": [
          "product-brand"
        ],
        "summary": "Add new brand to system",
        "description": "",
        "operationId": "addBrand",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "formData",
            "description": "The brand name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "formData",
            "description": "The brand Description.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fee",
            "in": "formData",
            "description": "The brand transaction fee",
            "required": true,
            "type": "integer"
          }


        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "X-Expires-After": {
                "type": "string",
                "format": "date-time",
                "description": "date in UTC when token expires"
              },
              "X-Rate-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "calls per hour allowed by the user"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      }
    },
    "/product-brand/edit": {
      "patch": {
        "tags": [
          "product-brand"
        ],
        "summary": "Edit brand info in the system",
        "description": "",
        "operationId": "editBrand",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "product_brand_id",
            "in": "query",
            "description": "The Product Brand ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "formData",
            "description": "The Product Brand name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "formData",
            "description": "The Product Brand Description.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fee",
            "in": "formData",
            "description": "The Product Brand transaction fee",
            "required": true,
            "type": "integer"
          }

        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "X-Expires-After": {
                "type": "string",
                "format": "date-time",
                "description": "date in UTC when token expires"
              },
              "X-Rate-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "calls per hour allowed by the user"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      }
    },
    "/product-brand/list": {
      "get": {
        "tags": [
          "product-brand"
        ],
        "summary": "Function to get product brand list",
        "description": "",
        "operationId": "getBrands",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/product-brand/view": {
      "get": {
        "tags": [
          "product-brand"
        ],
        "summary": "view product brand details",
        "description": "",
        "operationId": "getProductBrandDetail",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "product_brand_id",
            "in": "query",
            "description": "The product brand id.",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/product-brand/delete": {
      "delete": {
        "tags": [
          "product-brand"
        ],
        "summary": "Function to delete product's brand ",
        "description": "",
        "operationId": "deleteBrand",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "product_brand_id",
            "in": "query",
            "description": "The product brand id.",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/product-brand/soft-delete": {
      "delete": {
        "tags": [
          "product-brand"
        ],
        "summary": "Function to soft delete Product Brand ",
        "description": "",
        "operationId": "softDeleteBrand",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "product_brand_id",
            "in": "query",
            "description": "The product brand id.",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },


    "/product-category/add": {
      "post": {
        "tags": [
          "product-category"
        ],
        "summary": "Add new category to system",
        "description": "",
        "operationId": "addCategory",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "formData",
            "description": "The category name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "formData",
            "description": "The category Description.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fee",
            "in": "formData",
            "description": "The category transaction fee",
            "required": true,
            "type": "integer"
          }


        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "X-Expires-After": {
                "type": "string",
                "format": "date-time",
                "description": "date in UTC when token expires"
              },
              "X-Rate-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "calls per hour allowed by the user"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      }
    },
    "/product-category/edit": {
      "patch": {
        "tags": [
          "product-category"
        ],
        "summary": "Edit category info in the system",
        "description": "",
        "operationId": "editCategory",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "product_category_id",
            "in": "query",
            "description": "The Product category ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "formData",
            "description": "The category name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "formData",
            "description": "The category Description.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fee",
            "in": "formData",
            "description": "The category transaction fee",
            "required": true,
            "type": "integer"
          }


        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "X-Expires-After": {
                "type": "string",
                "format": "date-time",
                "description": "date in UTC when token expires"
              },
              "X-Rate-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "calls per hour allowed by the user"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      }
    },
    "/product-category/list": {
      "get": {
        "tags": [
          "product-category"
        ],
        "summary": "Function to get product categories list",
        "description": "",
        "operationId": "getCategories",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/product-category/view": {
      "get": {
        "tags": [
          "product-category"
        ],
        "summary": "view product categories details",
        "description": "",
        "operationId": "getProductCategoryDetail",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "product_category_id",
            "in": "query",
            "description": "The product category id.",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/product-category/list-by-merchant": {
      "get": {
        "tags": [
          "product-category"
        ],
        "summary": "Function to get list of product category by Merchant.",
        "description": "",
        "operationId": "getAllProductCategoryByMerchant",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "merchant_id",
            "in": "query",
            "description": "The merchant ID",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/product-category/delete": {
      "delete": {
        "tags": [
          "product-category"
        ],
        "summary": "Function to delete product's Category ",
        "description": "",
        "operationId": "deleteCategory",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "product_category_id",
            "in": "query",
            "description": "The product category id.",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/product-category/soft-delete": {
      "delete": {
        "tags": [
          "product-category"
        ],
        "summary": "Function to soft delete Product category ",
        "description": "",
        "operationId": "softDeleteCategory",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "product_category_id",
            "in": "query",
            "description": "The product category id.",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/product-category/position": {
      "get": {
        "tags": [
          "product-category"
        ],
        "summary": "Function to get product categories posiition",
        "description": "",
        "operationId": "getCategoryPosition",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/product-category/resolve": {
      "post": {
        "tags": [
          "product-category"
        ],
        "summary": "Function to post product categories resolve",
        "description": "",
        "operationId": "getCategoriesResolve",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/product-categorys/position": {
      "post": {
        "tags": [
          "product-category"
        ],
        "summary": "update product category position",
        "description": "",
        "operationId": "updateCategoryPosition",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "category_id",
            "in": "formData",
            "description": "The category ID.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "position",
            "in": "formData",
            "description": "The category position.",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "X-Expires-After": {
                "type": "string",
                "format": "date-time",
                "description": "date in UTC when token expires"
              },
              "X-Rate-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "calls per hour allowed by the user"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      }
    },


    "/product-delivery/add": {
      "post": {
        "tags": [
          "product-delivery"
        ],
        "summary": "Add new delivery agent to system",
        "description": "",
        "operationId": "addDelivery",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "formData",
            "description": "The delivery agent name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "formData",
            "description": "The delivery Description.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fee",
            "in": "formData",
            "description": "The delivery transaction fee",
            "required": true,
            "type": "integer"
          }


        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "X-Expires-After": {
                "type": "string",
                "format": "date-time",
                "description": "date in UTC when token expires"
              },
              "X-Rate-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "calls per hour allowed by the user"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      }
    },
    "/product-delivery/edit": {
      "patch": {
        "tags": [
          "product-delivery"
        ],
        "summary": "Edit delivery agent info in the system",
        "description": "",
        "operationId": "editDelivery",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "product_deliveries_id",
            "in": "query",
            "description": "The delivery ID",
            "required": true,
            "type": "integer"
          },
          {
            "name": "name",
            "in": "formData",
            "description": "The delivery agent name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "formData",
            "description": "The delivery Description.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fee",
            "in": "formData",
            "description": "The delivery transaction fee in percentage",
            "required": true,
            "type": "integer"
          }


        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "X-Expires-After": {
                "type": "string",
                "format": "date-time",
                "description": "date in UTC when token expires"
              },
              "X-Rate-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "calls per hour allowed by the user"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      }
    },
    "/product-delivery/list": {
      "get": {
        "tags": [
          "product-delivery"
        ],
        "summary": "Function to get product Delivery Agents",
        "description": "",
        "operationId": "getDeliveries",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/product-delivery/view": {
      "get": {
        "tags": [
          "product-delivery"
        ],
        "summary": "view product delivery agent's details",
        "description": "",
        "operationId": "getProductDeliveryDetail",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "product_deliveries_id",
            "in": "query",
            "description": "The delivery ID",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/product-delivery/delete": {
      "delete": {
        "tags": [
          "product-delivery"
        ],
        "summary": "Function to delete Product's Delivery Agent ",
        "description": "",
        "operationId": "deleteDelivery",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "product_deliveries_id",
            "in": "query",
            "description": "The delivery ID",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/product-delivery/soft-delete": {
      "delete": {
        "tags": [
          "product-delivery"
        ],
        "summary": "Function to soft delete Product's Delivery Agent ",
        "description": "",
        "operationId": "softDeleteDelivery",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },

    "/product-assets/add": {
      "post": {
        "tags": [
          "product-assets"
        ],
        "summary": "Add Product Asset",
        "description": "",
        "operationId": "addProductAsset",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "description": "The product id.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "description",
            "in": "formData",
            "description": "The product Assets Description",
            "required": false,
            "type": "string"
          },
          {
            "name": "product_assets",
            "in": "formData",
            "description": "The product assets files.",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "X-Expires-After": {
                "type": "string",
                "format": "date-time",
                "description": "date in UTC when token expires"
              },
              "X-Rate-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "calls per hour allowed by the user"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      }
    },
    "/product-assets/edit": {
      "patch": {
        "tags": [
          "product-assets"
        ],
        "summary": "Update product assets",
        "description": "",
        "operationId": "editProductAsset",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "description": "The product id.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "description",
            "in": "formData",
            "description": "The product description",
            "required": false,
            "type": "string"
          },
          {
            "name": "product_assets",
            "in": "formData",
            "description": "The product assets files.",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "X-Expires-After": {
                "type": "string",
                "format": "date-time",
                "description": "date in UTC when token expires"
              },
              "X-Rate-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "calls per hour allowed by the user"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      }
    },
    "/product-assets/delete": {
      "delete": {
        "tags": [
          "product-assets"
        ],
        "summary": "Function to delete Product's Assets ",
        "description": "",
        "operationId": "deleteProductAsset",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "formData",
            "description": "The Product ID",
            "required": true,
            "type": "integer"
          },
          {
            "name": "product_asset_id",
            "in": "query",
            "description": "The Product Asset ID",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },

    "/cart/add": {
      "post": {
        "tags": [
          "cart"
        ],
        "summary": "Add new item to cart",
        "description": "",
        "operationId": "addCart",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "formData",
            "description": "The Session ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "product_id",
            "in": "formData",
            "description": "The product ID",
            "required": true,
            "type": "integer"
          },
          {
            "name": "quantity",
            "in": "formData",
            "description": "The product quantity",
            "required": true,
            "type": "integer"
          }

        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "X-Expires-After": {
                "type": "string",
                "format": "date-time",
                "description": "date in UTC when token expires"
              },
              "X-Rate-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "calls per hour allowed by the user"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      }
    },
    "/cart/get": {
      "get": {
        "tags": [
          "cart"
        ],
        "summary": "Function to get cart details",
        "description": "",
        "operationId": "getCartDetail",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "formData",
            "description": "The Session ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/cart/remove": {
      "delete": {
        "tags": [
          "cart"
        ],
        "summary": "remove cart item ",
        "description": "",
        "operationId": "removeCart",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "formData",
            "description": "The Session ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "product_id",
            "in": "formData",
            "description": "The product ID",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/cart/apply-voucher": {
      "post": {
        "tags": [
          "cart"
        ],
        "summary": "Apply voucher to items in cart",
        "description": "",
        "operationId": "applyVoucher",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "voucher_id",
            "in": "formData",
            "description": "The Voucher ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "X-Expires-After": {
                "type": "string",
                "format": "date-time",
                "description": "date in UTC when token expires"
              },
              "X-Rate-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "calls per hour allowed by the user"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      }
    },

    "/voucher/add": {
      "post": {
        "tags": [
          "voucher"
        ],
        "summary": "Add new voucher to system",
        "description": "",
        "operationId": "addVoucher",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "formData",
            "description": "The voucher name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "formData",
            "description": "The voucher description",
            "required": true,
            "type": "integer"
          },
          {
            "name": "product_id",
            "in": "formData",
            "description": "The product voucher belongs to.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "category_id",
            "in": "formData",
            "description": "The category voucher belongs to.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "brand_id",
            "in": "formData",
            "description": "The brand voucher belongs to.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "code",
            "in": "formData",
            "description": "The voucher's code.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "type",
            "in": "formData",
            "description": "The voucher type.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "minimum_purchase",
            "in": "formData",
            "description": "The voucher's minimum purchase.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "quantity",
            "in": "formData",
            "description": "The voucher's quantity.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "amount",
            "in": "formData",
            "description": "The voucher's amount.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "status",
            "in": "formData",
            "description": "The Voucher status : 1 Active, 0 Inactive (default 1)",
            "required": true,
            "type": "integer"
          }


        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "X-Expires-After": {
                "type": "string",
                "format": "date-time",
                "description": "date in UTC when token expires"
              },
              "X-Rate-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "calls per hour allowed by the user"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      }
    },
    "/voucher/:voucher_id/update": {
      "patch": {
        "tags": [
          "voucher"
        ],
        "summary": "Update voucher data in the system",
        "description": "",
        "operationId": "editVoucher",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "voucher_id",
            "in": "query",
            "description": "The product voucher ID.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "name",
            "in": "formData",
            "description": "The voucher name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "formData",
            "description": "The voucher description",
            "required": true,
            "type": "integer"
          },
          {
            "name": "product_id",
            "in": "formData",
            "description": "The product voucher belongs to.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "category_id",
            "in": "formData",
            "description": "The category voucher belongs to.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "brand_id",
            "in": "formData",
            "description": "The brand voucher belongs to.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "type",
            "in": "formData",
            "description": "The voucher type.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "minimum_purchase",
            "in": "formData",
            "description": "The voucher's minimum purchase.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "quantity",
            "in": "formData",
            "description": "The voucher's quantity.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "amount",
            "in": "formData",
            "description": "The voucher's amount.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "status",
            "in": "formData",
            "description": "The Voucher status : 1 Active, 0 Inactive (default 1)",
            "required": true,
            "type": "integer"
          }


        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "X-Expires-After": {
                "type": "string",
                "format": "date-time",
                "description": "date in UTC when token expires"
              },
              "X-Rate-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "calls per hour allowed by the user"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      }
    },
    "/voucher/my-voucher": {
      "get": {
        "tags": [
          "voucher"
        ],
        "summary": "Get list of vouchers",
        "description": "",
        "operationId": "getVouchers",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/voucher/:voucher_id/delete": {
      "delete": {
        "tags": [
          "voucher"
        ],
        "summary": "Delete voucher record.",
        "description": "",
        "operationId": "deleteVoucher",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "voucher_id",
            "in": "query",
            "description": "The product voucher ID.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/voucher/redeem": {
      "post": {
        "tags": [
          "voucher"
        ],
        "summary": "Redeem a voucher",
        "description": "",
        "operationId": "redeemVoucher",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "code",
            "in": "formData",
            "description": "The voucher's code.",
            "required": true,
            "type": "integer"
          }

        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "X-Expires-After": {
                "type": "string",
                "format": "date-time",
                "description": "date in UTC when token expires"
              },
              "X-Rate-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "calls per hour allowed by the user"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      }
    },

    "/order/list": {
      "get": {
        "tags": [
          "order"
        ],
        "summary": "Function to get orders list",
        "description": "",
        "operationId": "getOrderList",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "query",
            "description": "The Order Session ID.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/order/{order_id}/detail": {
      "get": {
        "tags": [
          "order"
        ],
        "summary": "Function to get order details",
        "description": "",
        "operationId": "getOrderDetail",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "description": "The Order ID",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/order/checkout": {
      "post": {
        "tags": [
          "order"
        ],
        "summary": "checkout ordered items from the system.",
        "description": "",
        "operationId": "checkout",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
            {
              "name": "session_id",
              "in": "query",
              "description": "The order session ID",
              "required": true,
              "type": "string"
            },
          {
            "name": "shipping_address",
            "in": "body",
            "description": "The buyer's address",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "X-Expires-After": {
                "type": "string",
                "format": "date-time",
                "description": "date in UTC when token expires"
              },
              "X-Rate-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "calls per hour allowed by the user"
              }
            },
[...]
